* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 0, 255);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
}

.title-page {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.s_links {
    display: flex;
    padding-bottom: 50px;
    margin-top: 10px;
    justify-content: center;
}

.link {
    display: flex;
    gap: 30px;
}

.link-texto:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    text-transform: initial;
    color: white;
}

footer {
    text-transform: initial;
    margin-top: 30px;
    text-align: center;
}